.icon-48-userworkouts {
      background-image: url(../images/l_userworkouts.png);
      padding-left:60px!important;
}

.icon-48-userworkout {
      background-image: url(../images/l_userworkouts.png);
      padding-left:60px!important;
}

