.icon-48-grocerylists {
      background-image: url(../images/l_grocerylists.png);
      padding-left:60px!important;
}

.icon-48-grocerylist {
      background-image: url(../images/l_grocerylists.png);
      padding-left:60px!important;
}

