.page_head_date{ font-size:18px; color:#aaa; margin:-15px 0 10px 0px; text-transform:uppercase; }
.group_exercise_inner_top { 
 background:url("images/neutrition_header.jpg") repeat-x scroll 0 0 #45484d;     
 font-size: 15px;
 color:#FFFFFF;
 margin:25px 0 0;
 padding:5px 9px;
 border-bottom: 1px solid #383c3f;
}
.group_exercise_inner {width:100%; }
.group_exercise_inner th{   
    background: url("images/meal_chart_bk.png") repeat-x scroll 0 0 #E1E1E1;
    color: #176D8A;
    font-size: 11px;
    font-weight:bold;
    height: 30px;
    line-height: 17px;
    margin: 0;
    padding:5px;
    text-shadow: 0.1em 0.1em #FFFFFF;
    text-transform: uppercase;
}
.group_exercise_inner td{   text-align:center; padding:10px 0px; color:#000; }
.group_exercise_inner .exercise_name{ width:260px; text-align:left; }
.group_exercise_inner .exercise_list{   text-align:left; padding-left:5px; }
.odd_tr{ background-color:#edefee;}

.myworkout .repeated_process
{
	background:url("images/repeat_process.png") repeat-x;
    border: 1px solid #BB7029;
    color: #FFFFFF;
    padding:0;
    text-shadow: none;
    text-transform: capitalize;
	width:99.8%;
	margin:20px 0 0;	
}
.myworkout .repeated_process ul
{
	margin: 0;
    overflow: hidden;
    padding:0;
}
.myworkout .repeated_process ul li
{
	float:left;

	background:url(images/back_list_rtborder.png) no-repeat right center;
}
.myworkout .repeated_process ul li a
{
	color: #FFFFFF;
    font-size: 12px;
	padding:8px 34px;
	display:block;
	font-weight:bold;
	text-transform:uppercase;
}

.myworkout .repeated_process ul li a:hover
{
	color:#FFFFFF !important;
	background:url(images/on_hover.jpg) no-repeat bottom center !important;
}
.myworkout .repeat_last_child
{
	background:none !important;
}
.card_exercise_name{ width:160px; text-align:left; }

.modify_button
{
	background: none repeat scroll 0 0 #FAA21B !important;
    box-shadow: none !important;
    float: right;
    padding: 6px 1px 5px 5px;
    text-transform: capitalize;
    border-radius: 6px 6px 6px 6px;
	font-size:13px;
}
.modify_button:hover
{
	background: none repeat scroll 0 0 #F29300 !important;
}
.padbot0{ padding-bottom:0px !important;}

.myworkout  .acc_group_marginnone
{
	margin:0 !important;
}
.myworkout .accordion-heading .accordion-toggle, .accordion-inner
{
	background:url(images/fit_bk.png) repeat-x;
    padding: 9px 16px;
	border-radius: 0 0 0 0 !important;
    color: #fff !important;
	text-transform:capitalize;	
	border-top: 1px solid #666769;
}
.myworkout .accordion-heading .accordion-toggle{
	font-size:15px;
}
.myworkout .collapsed .plus_icon {
    margin: -4px 0 0 -7px;
	background:url("images/fitness-plus.png") no-repeat left center;
	height:22px;
	width:22px;
	padding-left:26px;	
}
 
.myworkout .plus_icon {
	background:url("images/fitness-minus.png") no-repeat left top;
    margin: -4px 0 0 -7px;
	height:22px;
	width:22px;
	padding-left:26px;
}
.myworkout .minus_img
{
	margin:-1px 3px 0 -8px;
	background:url("images/fitness-minus.png") no-repeat left top;
	width:23px;
	height:18px;
	padding-left: 26px;
}
.myworkout .up_click
{ 
     float: right;
    height: 9px;
    width: 15px;
	margin:2px 2px 0 0;
	background:url("images/fitness_up_click.png") no-repeat left top;
}
.myworkout .collapsed .up_click
{ 
	width:15px;
	height:17px;
	padding:0;
	margin:0;
	float:right;
	background:url("images/fitness_bottom_click.png") no-repeat right center;
}

.bakround_none, .bakround_none1
{
background:none !important;
padding:0 !important;
}
.myworkout .bakround_none1
{
border:none;
}
.myworkout .accordion
{
margin-bottom:0px !important;
}

.meal_sign
{
	float:right;
	background:url(images/minu_sign_small.png) no-repeat;
	width:15px;
	height:13px;
	margin-top:6px;
}
.meal_sign.collapsed
{
	background:url(images/plus_sign_small.png) no-repeat;
}
.bordernone{ border:none !important}
.myworkout .accordion-group
{
	border:0px !important;
}
.myworkout .acc_top_border a
{
	border-top:1px solid #4A4A4C;
}
.myworkout .bottom_border_bebe{
	/*border-bottom:1px solid #4A4A4C !important;*/
}

.fitness_note{ background:#c0d973 !important; border-radius:0px !important;}
.fitness_note:hover{ background:#93b330 !important; }
.add_exercise{ margin-top:10px; float:right }
.create_workout{ float:left; width:100%; margin-top:20px; }
.notes_style{ width:440px; min-height:100px; max-height:400px; overflow-x:hidden;}
.notes_style > strong { padding-bottom:5px; display:block;}
.editNotes , .cancelNotes{ float:right; font-weight:normal; cursor:pointer; padding-right:5px;}
.notetext{ width:96%; min-height:100px;}