#recipe_cat { margin:0px; width:100%; background-color:#fff; float:left; }
#recipe_cat ul li {  background-color:#2f2933; }

.content{ width:100%; overflow:auto; clear:both; }

.content #recipe_cat{ overflow:hidden;}
.content #recipe_cat li {display:block; width:250px; }


#recipe_cat li{ float:left;color:#fff; text-transform:uppercase; font-size:17px; }
#recipe_cat .caret{ margin:7px 0 0 4px;  }
#recipe_cat li a {  color:#fff !important;  padding:10px 10px;  display:block; text-align:center; }
#recipe_cat li a:hover{  color:#fff !important; }
#recipe_cat > li:hover { margin-top:-10px; padding-top:10px; }
.activetop{ margin-top:-10px; padding-top:10px;  }
#recipe_cat li ul.dropdown-menu{ border-radius:0; box-shadow:none; min-width:auto !important;  padding:0px  }
#recipe_cat li ul li{ border-bottom:1px solid #5d9b9a; width:100%; padding:0px; font-size:15px; text-transform:capitalize;}
#recipe_cat li ul.dropdown-menu a{ font-weight:normal; padding:3px 15px;}
#recipe_cat li ul li a:hover{ background-color:#5d9b9a !important; }
.bgselected{  background-color:#4F5D57 !important;}
#recipe_cat li ul.dropdown-menu li:last-child { border-bottom:none !important;}
.noborder{ border:0px !important;}

.bgcolor_bf , .bgcolor_bf li  { background:#0b426b !important;}
.bgcolor_lunch , .bgcolor_lunch li { background:#1a8bad !important;}
.bgcolor_dinner , bgcolor_dinner li { background:#bfda73 !important;}
.bgcolor_vegetarian , .bgcolor_vegetarian li{ background:#57c3b6 !important;}
.bgcolor_vegan , .bgcolor_vegan li{ background:#1da4a8 !important;}
.bgcolor_bar , .bgcolor_bar li{ background:#c0504d !important;}
.bgcolor_green , .bgcolor_green li{ background:#92D050 !important;}
.bgcolor_darkgreen , .bgcolor_darkgreen li{ background:#3C6D3A !important;}
.bgcolor_blue , .bgcolor_blue li{ background:#00b0f0 !important;}
.bgcolor_purple , .bgcolor_purple li{ background:#7030A0 !important;}

.breakfast  { background:#92d050 !important;}
.lunch  { background:#00b0f0 !important;}
.dinner  { background:#7030a0 !important;}
.vegetarian , .vegetarian li { background:#c0504d !important;}
.vegan , .vegan li { background:#f79646 !important;}

.light_blue { background:#00b0f0 !important;}
.purplecolor { background:#7030a0 !important;}


#recipe_container .accordion-heading .accordion-toggle
{
	background:url(images/meal_bk.png) repeat-x;
    padding: 9px 16px;
	border-radius: 0 0 0 0 !important;
	border-left: 1px solid #BEBEBE;
	border-right: 1px solid #BEBEBE;
    color: #1487AA !important;
	text-transform:capitalize;
	border-top: 1px solid #BEBEBE;
}
#recipe_container .collapsed .plus_icon {
    margin: -4px 0 0 -7px;
	background:url("images/plus_img.png") no-repeat left center;
	height:22px;
	width:22px;
	padding-left:26px;	
}
 
#recipe_container .plus_icon {
	background:url("images/minus.png") no-repeat left top;
    margin: -4px 0 0 -7px;
	height:22px;
	width:22px;
	padding-left:26px;
}

#recipe_container .up_click
{ 
     float: right;
    height: 9px;
    width: 11px;
	margin:2px 2px 0 0;
	background:url("images/up_click.png") no-repeat left top;
}
#recipe_container .collapsed .up_click
{ 
	width:15px;
	height:11px;
	padding:0;
	margin:0;
	float:right;
	background:url("images/bottom_click.png") no-repeat right center;
}
#miles_snakes_accordion .accordion-inner{ border-top:0px !important; }
#miles_snakes_accordion{ margin-top:30px; float:left; width:100%;  border-bottom: 1px solid #BEBEBE;}
.bakround_none, .bakround_none1
{
background:none !important;
padding:0 !important;
}
.acc_group_marginnone{ margin:0 !important; border: none !important; border-radious:0px}
.recipedata{ padding:5px; border-left: 1px solid #BEBEBE; border-right: 1px solid #BEBEBE;  border-bottom: 1px solid #BEBEBE; background-color:#F0EFEF}
.maintable{ width:100%;}
.maintable td{ vertical-align:top; background-color:#F0EFEF;} 
.maintable td table , .maintable td table tr td{ background-color:#fff;} 
.recipephto { background-color:#fff !important; width:120px; }
.recipetotla{ background-color:#f39420 !important; color:#fff; height:26px; vertical-align:middle !important;}
.recipeinnertable { width:100%;}
.recipeinnertable tr{ border-bottom:5px solid #fff;}
.recipeinnertable td{ text-align:center;}
.recipeinnertable2 { width:97%; margin:0 auto;}
.recipeinnertable2 td { padding:10px;  }
.recipeinnertable2 tr { border-bottom:1px solid #949599; }
.recipeinnertable3 { width:100%; background-color:#FFFFFF !important;}
.recipenotes{ background-color:#1da4a8 !important; width:100%; color:#fff; text-align:center; padding:5px 0px; }
.recipenotesdata{ height:170px; text-align:center; overflow:auto;}
.addnewmeal{ text-align:center; margin-top:10px; }
.addnewmeal button { background:#FAA21B !important; font-size:12px; padding:3px 3px;}
.addnewmeal button:hover { background:#F29300 !important;}
.addnewmeal button.modify{ background:#31889E !important; font-size:12px; padding:3px 3px; }
.addnewmeal button.modify:hover { background:#165666 !important;}

.noborder{ border:none !important; }
.floatleft{ float:left}
.floatright{ float:right}
.padingleft2{ padding-left:2px;}
.paddingrigh2{padding-right:2px; }
.color555{ color:#555; font-weight:bold}
.norecipe { padding:10px; text-align:center; font-size:14px; font-weight:bold; float:left; width:100%; }
.recipe_heading{ background:url("images/meal_bk.png") repeat-x scroll 0 0 transparent; color:#1487AA !important; text-align:center; padding:7px 0px; margin:0px; font-weight:normal; }
.ingredents_div{ width:35%; float:left; text-align:center; background-color:#fff; margin-top:10px;}
.ingredents_div > p{ padding:10px 15px; text-align:center; font-size:12px;}
.ingredents_divright{ width:62%; float:right; margin-left:10px; background-color:#fff;  margin-top:10px; }
.ingredents_divright > p{ padding:10px 15px; text-align:justify; font-size:12px;}

/* pagination css */
.repeated_process ul li a{font-family: Arial,Helvetica,sans-serif; /* 'EuropeDemi';*/ }
.repeated_process
{
	background:url("images/repeat_process.png") repeat-x;
    border: 1px solid #BB7029;
    color: #FFFFFF;
    padding:0;
    text-shadow: none;
    text-transform: capitalize;
	width:100%;
	margin:0;
	float:left;	
}
.repeated_process ul
{
	margin: 0;
    overflow: hidden;
    padding:0;
}
.repeated_process ul li
{
	float:left;	
	background:url(images/back_list_rtborder.png) no-repeat right center;
}
.repeated_process ul li a
{
	color: #FFFFFF;
    font-size: 12px;
	padding:8px 43px !important;
	display:block;
}
.repeated_process ul li span:hover
{
	background: url("images/on_hover.jpg") no-repeat scroll center bottom transparent !important;
    display: block;
}
.repeated_process ul li span a:hover
{
 color: #FFFFFF !important;
}

.back_process
{
	background:url(images/repeat_process_back.png) no-repeat 28px center;
}
.back_a_week
{
	background:url(images/back_a_week.png) no-repeat 23px center;
	padding:0 25px !important;
}
.repeat_process_next_week
{
	background:url(images/repeat_process_next_week.png) no-repeat 104px center;
	padding:0 25px !important;
}
.repeat_process_next
{
	background:url(images/repeat_process_next.png) no-repeat 88px center;
	padding:0 25px !important;
}
.repeat_last_child
{
	background:none !important;
}
.report_image{ margin-top:7px; }
.norecipefound{ text-align:center; font-weight:bold; width:100%; float:left;}