.front-end-edit ul { padding: 0 !important;}
.front-end-edit li { list-style: none; wmargin-bottom: 22px !important;}
.front-end-edit label {margin-right: 10px;display: block;float: left;width: 200px;}
.front-end-edit .radio label {float: none;}
.front-end-edit .readonly {border: none !important;color: #666;}
.front-end-edit #editor-xtd-buttons {height: 50px;width: 600px;float: left;}
.front-end-edit .toggle-editor {height: 50px;width: 120px;float: right;}
#jform_rules-lbl {display:none;}
#access-rules a:hover {background:#f5f5f5 url('../images/slider_minus.png') right top no-repeat;color: #444;}
fieldset.radio label {width: 50px !important;}
.front-end-edit label {width:50%;}
.member-info { margin-top:47px;  background: url("../images/header.png") repeat-x scroll center top transparent;
    margin-left: 2.12766% !important;
    padding: 0 !important;
    width: 76.915% !important;}
	
.member-info li.active > a
{
	display:block;
	background:#545859 !important;
}
.member-info li {border-bottom: 1px solid #CCCCCC; padding:0 10px;  box-shadow: -4px 0 0 rgba(0, 0, 0, 0.05);}
.member-info li a{ display: block; font-style:italic; padding:6px 15px !important; }
.menber_lable label { width:97%;}
.submit_member { margin: 32px 0 0; overflow: hidden; padding: 0;}
.cancel_member{  font-size:15px; color:#333; font-weight:normal;}
.cancel_member:hover { color:#333 !important; }
.submit_method { padding:4px 14px; float:left;  line-height: 21px;}
.m_option { text-transform:uppercase;font-size:18px; float: left; font-size: 18px; margin: 6px 18px 0; padding:0;}
.promotion_input input {  background-color: #FFFFFF;border: 1px solid #CCCCCC;border-radius: 4px 4px 4px 4px;box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;color: #555555;font-size: 14px;height: 24px;line-height: 30px;padding:4px 6px 7px;
 transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;vertical-align: middle; width: 230px !important;}
.promotion_input input:hover {  background-color: #fdf4f4; background-position: 0 -5px;}
.nw_member_info { margin-top:0px; margin-bottom:20px;padding: 0 0 0 0; text-transform: uppercase;}
.member-info { background: url("../images/header.png") repeat-x scroll center top transparent;}
.commen_heading {-moz-border-bottom-colors: none; -moz-border-left-colors: none;-moz-border-right-colors: none;-moz-border-top-colors: none;border-color: -moz-use-text-color -moz-use-text-color #E5E5E5;border-image: none;
border-style: none none solid; border-width: 0 0 1px;color: #333333;display: block;font-size: 16.5px;line-height: 33px;margin-bottom: 18px;padding: 0;width: 81%;}
.calender_option select { color: #555555; font-size: 14px;height: 35px;line-height: 41px; padding: 4px 6px 7px;transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;vertical-align: middle;
 width: 245px !important;}
.input-append input{  width: 187px; height:24px; height:24px !important;}
#jform_birthday_img { height:34px !important;}
.wokout_lable { width:100% !important; float:left; }
.wokout_lable label { width: 55% !important; font-size: 13px; padding:0;}
.equipment_product { width: 100%; float:left; padding:0; margin:0;}
.fild_form { float:left; width: 100%;}
.fild_form ul{margin: 5px 0 20px; padding: 0; width: 90%; }
.avai_equipment {width:100%; padding:0; margin:0; float: left;}
.avai_equipment label { width:100% !important;  font-size: 15px; margin: 0 0 14px;}
.gap { margin:0 11px 0 0 !important; padding:0;}
.hgpa input { margin:0 5px 0 15px !important; padding:0;}
.woking_experiences { width:100% !important; float:left;}
.woking_experiences label { float: left; width: 60% !important;  margin: 10px 0 5px;}


/* 06-03-2013 */

.restricted_area {  border: 1px solid #CACDCE; float: left; height: auto; margin-bottom: 20px; padding: 0 0 0 0; width:94%;}
.wokout_lable1 {float: left; width: 100% !important;}
.wokout_lable1 label, .fild_form1 legend, .fild_form11 legend {  font-size: 15px; line-height:21px; float:left; margin-bottom: 14px;  background: none repeat scroll 0 0 #545859; padding: 8px 25px 10px; width: 93.2% !important; color:#fff;}
.fild_form1 {  float: left; width: 97%; text-align:left; margin: 5px 0 8px 17px;}
.fild_form11 {float: left; width: 97%; text-align:left; margin: 5px 0 8px 17px;}
.fild_form1 input, .fild_form11 input  { background-color: #FFFFFF;border: 1px solid #CCCCCC; border-radius: 4px 4px 4px 4px; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset; color: #555555; font-size: 14px;
height: 24px; line-height: 30px; padding: 4px 6px 7px; transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s; vertical-align: middle;width: 230px !important;}
.calender_option1 select { color: #555555; font-size: 14px; height: 35px; line-height: 41px; padding: 4px 6px 7px; transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s; vertical-align: middle;
width: 245px !important; margin:5px 0 19px 17px;}
#jform_day_start_your_fitness_cardiovascular_program_img, #jform_nutrition_program_start_img {  height: 34px !important;}
.wokout_lable2 { float: left; width: 100% !important;  margin: 5px 0 19px 17px;}
.wokout_button {float: left; width: 100% !important;}
.submit_member1 {margin: 15px 0 0; overflow: hidden;  padding: 0;}
.amenities_checking ul li > span , .payment_space ul li > span {border: 1px solid #CACDCE; margin: 0 110px 0 0; padding: 4px 12px 4px 4px; float:right;}
.amenities_checking ul li > span:empty , ul.equipment_product li > span:empty { border:none !important;}
.amenities_checking ul li , ul.equipment_product li {float: left; margin-bottom: 10px; min-height: 29px !important;  width: 100%;}
.fild_form1 { float: left; width: 94%;   margin: 0 0 20px 0; padding:0;  border: 1px solid #CACDCE;}
.food_condiments legend { background: none repeat scroll 0 0 #545859; color: #FFFFFF; font-size: 15px; margin-bottom: 14px;  padding:8px 25px 10px; width:93.2%;}
.food_condiments_table { width:96%; padding:0; margin:0 0 20px 20px !important;}
.food_condiments_table th { text-align:left;}
.food_condiments { padding:0; margin:0;}
.food_condiments_table td { padding:0;}
.food_condiments_table td label { padding:0;float: left; margin: 6px 5px; overflow: hidden; padding: 0;} 
.food_condiments_table td label, .food_condiments_table tr, .food_condiments_table tr td table { width:100% !important;}
.food_condiments_table tr td table tr td input { margin:0;}
.something_right {  margin-left: 20px !important;}
.something_right1 {margin-top:0px !important; margin-left: 20px !important;}
.payment_info {  background: none repeat scroll 0 0 #545859; color: #FFFFFF; float: left; font-size: 15px; line-height: 21px; margin:0 0 14px 0 !important; padding: 8px 25px 10px; width: 93.2% !important;}
.payment_space { margin-left:20px;} 
#where_you_train_day_id .hgpa { width:50px; float:left}
#jform_overallgoal > ul > li > input { line-height:20px !important; margin:0 !important; vertical-align:top !important;}
#jform_overallgoal > ul > li { line-height:40px !important;}
#jform_overallgoal ul { margin-left:0px !important;}

/* admin */

#jform_eat_a_day_meal_snacks_chzn, #jform_cardiovascular_exercise_experience_lvl_chzn, #jform_experience_lvl_working_out_chzn
{
	 margin: 5px 0 19px 17px;
}

.control-group
{
 margin-bottom: 20px !important;
}

#where_you_train_day_id li
{
	float: left;
    margin-bottom: 15px !important;
    min-height: 29px !important;
    width: 100%;
}

#jform_cardiovascular_exercise_goal ul li input
{
	margin:0;
}
	

#jform_workout_path ul li, #jform_you_train_days ul li, #jform_cardiovascular_exercise_goal ul li
{
	text-align:left !important;
	float:left;
	width:60% !important;
	padding:0 0 10px;
}

.paymet_red_l
{
	float:left;
}

#equipment_id li input, #where_you_train_day_id li input, .amenities_checking ul li input{ margin:0 11px 0 0;}


/* view */
.address_one {width:100%; float:left;}
.address_one > label { width:100%; padding-bottom:15px;}
.address_one > label > span { width:45%; float:left;}
.address_one > label > span > span { width:50%; float:left;}
.view_workout label span, .view_workout label { width:96.5% !important;}
.view_workout > label > span > span { margin-left: 20px;}
.payment_space_view { float:left; margin-left:20px;}
.serva_list { float:left; width:60% !important; margin:0 0 10px;}
.scnerio_width { float:left; width:94.5% !important;}
.scnerio_width1 {width:100%;}
.anskey { font-weight:bold;}
.promotional_code_label label {width:100% !important;}
	