.icon-48-usermeals {
      background-image: url(../images/l_usermeals.png);
      padding-left:60px!important;
}

.icon-48-usermeal {
      background-image: url(../images/l_usermeals.png);
      padding-left:60px!important;
}

