.icon-48-nutritionrecipes {
      background-image: url(../images/l_nutritionrecipes.png);
      padding-left:60px!important;
}

.icon-48-nutritionrecipe {
      background-image: url(../images/l_nutritionrecipes.png);
      padding-left:60px!important;
}

.icon-48-nutritionfoods {
      background-image: url(../images/l_nutritionfoods.png);
      padding-left:60px!important;
}

.icon-48-nutritionfood {
      background-image: url(../images/l_nutritionfoods.png);
      padding-left:60px!important;
}

.icon-48-nutritionscategories {
      background-image: url(../images/l_nutritionscategories.png);
      padding-left:60px!important;
}

.icon-48-nutritioncategory {
      background-image: url(../images/l_nutritionscategories.png);
      padding-left:60px!important;
}

.icon-48-nutritiontaskbaritems {
      background-image: url(../images/l_nutritiontaskbaritems.png);
      padding-left:60px!important;
}

.icon-48-nutritiontaskbaritem {
      background-image: url(../images/l_nutritiontaskbaritems.png);
      padding-left:60px!important;
}

.icon-48-nutritionrecipetypes {
      background-image: url(../images/l_nutritionrecipetypes.png);
      padding-left:60px!important;
}

.icon-48-nutritionrecipetype {
      background-image: url(../images/l_nutritionrecipetypes.png);
      padding-left:60px!important;
}
.icon-48-unitofmeasurements {
      background-image: url(../images/l_unitofmeasurements.png);
      padding-left:60px!important;
}

.icon-48-unitofmeasurement {
      background-image: url(../images/l_unitofmeasurements.png);
      padding-left:60px!important;
}

#bottom_space{ height:160px;}
.food_items th, .food_items td { border:1px solid #DDDDDD;} 
.cssinput{ border:none!important; width:40px !important; text-align:center; background-color:#fff !important; cursor:text !important;}
.cssinputwidth120{ width:120px !important; }