.icon-48-exercises {
      background-image: url(../images/l_exercises.png);
      padding-left:60px!important;
}

.icon-48-exercise {
      background-image: url(../images/l_exercises.png);
      padding-left:60px!important;
}

.icon-48-categories {
      background-image: url(../images/l_categories.png);
      padding-left:60px!important;
}

.icon-48-category {
      background-image: url(../images/l_categories.png);
      padding-left:60px!important;
}

.icon-48-maincategories {
      background-image: url(../images/l_maincategories.png);
      padding-left:60px!important;
}

.icon-48-maincategory {
      background-image: url(../images/l_maincategories.png);
      padding-left:60px!important;
}

.icon-48-muscles {
      background-image: url(../images/l_muscles.png);
      padding-left:60px!important;
}

.icon-48-muscle {
      background-image: url(../images/l_muscles.png);
      padding-left:60px!important;
}

.icon-48-overallgoals {
      background-image: url(../images/l_overallgoals.png);
      padding-left:60px!important;
}

.icon-48-overallgoal {
      background-image: url(../images/l_overallgoals.png);
      padding-left:60px!important;
}

.icon-48-equipments {
      background-image: url(../images/l_equipments.png);
      padding-left:60px!important;
}

.icon-48-equipment {
      background-image: url(../images/l_equipments.png);
      padding-left:60px!important;
}

.icon-48-equipmentcategories {
      background-image: url(../images/l_equipmentcategories.png);
      padding-left:60px!important;
}

.icon-48-equipmentcategory {
      background-image: url(../images/l_equipmentcategories.png);
      padding-left:60px!important;
}

