.diet_chart h3, .meal_description_heading, .meal_description_title, .meal_description_title span, .nutrition_bott_taskbar li, 
.repeated_process ul li a, .meal_description_heading, .btn btn-success food_item, .food_item, .food_creation .modify_button, 
.reset_button, .modify_button, .todays_menu li a, #grocery_list .yield_target {font-family: Arial,Helvetica,sans-serif; /* 'EuropeDemi';*/ }

#grocery_list .collapsed .plus_icon {
    margin: -4px 0 0 -7px;
	background:url("images/plus_img.png") no-repeat left center;
	height:22px;
	width:22px;
	padding-left:26px;	
}
 
#grocery_list .plus_icon {
	background:url("images/minus.png") no-repeat left top;
    margin: -4px 0 0 -7px;
	height:22px;
	width:22px;
	padding-left:26px;
}

#grocery_list .acc_group_marginnone
{
	margin:0 !important;
}
#grocery_list .accordion-heading .accordion-toggle, .accordion-inner
{
	background:url(images/meal_bk.png) repeat-x;
    padding: 9px 16px;
	border-radius: 0 0 0 0 !important;
	border-left: 1px solid #BEBEBE;
	border-right: 1px solid #BEBEBE;
    color: #1487AA !important;
	text-transform:capitalize;
	border-top: 1px solid #BEBEBE;
}
.bordernone{ border:none !important}
#grocery_list .accordion-group
{
	border:0px !important;
}

#grocery_list .bottom_icon_orange
{
	background: url("images/bottom_icon_orange.png") no-repeat scroll center center transparent;
    border: medium none !important;
    float: right;
    height: 20px;
    padding: 0 0 0 15px;
    text-decoration: none;
    width: 20px;
}
#grocery_list .minus_img
{
	margin:-1px 3px 0 -8px;
	background:url("images/minus.png") no-repeat left top;
	width:23px;
	height:18px;
	padding-left: 26px;
}
#grocery_list .up_click
{ 
     float: right;
    height: 9px;
    width: 11px;
	margin:2px 2px 0 0;
	background:url("images/up_click.png") no-repeat left top;
}
#grocery_list .collapsed .up_click
{ 
width:15px;
height:11px;
padding:0;
margin:0;
float:right;
	background:url("images/bottom_click.png") no-repeat right center;
}


#grocery_list .repeated_process
{
	background:url("images/repeat_process.png") repeat-x;
    border: 1px solid #BB7029;
    color: #FFFFFF;
    padding:0;
    text-shadow: none;
    text-transform: capitalize;
	width:100%;
	margin:0;
	
}
#grocery_list .repeated_process ul
{
	margin: 0;
    overflow: hidden;
    padding:0;
}
#grocery_list .repeated_process ul li
{
	float:left;	
	background:url(images/back_list_rtborder.png) no-repeat right center;
}
#grocery_list .repeated_process ul li a
{
	color: #FFFFFF;
    font-size: 12px;
	padding:8px 43px !important;
	display:block;
}
#grocery_list .repeated_process ul li span:hover
{
	background: url("images/on_hover.jpg") no-repeat scroll center bottom transparent !important;
    display: block;
}
#grocery_list .repeated_process ul li span a:hover
{
 color: #FFFFFF !important;
}

#grocery_list .back_process
{
	background:url(images/repeat_process_back.png) no-repeat 28px center;
}
#grocery_list .back_a_week
{
	background:url(images/back_a_week.png) no-repeat 23px center;
	padding:0 25px !important;
}
#grocery_list .repeat_process_next_week
{
	background:url(images/repeat_process_next_week.png) no-repeat 104px center;
	padding:0 25px !important;
}
#grocery_list .repeat_process_next
{
	background:url(images/repeat_process_next.png) no-repeat 88px center;
	padding:0 25px !important;
}
#grocery_list .repeat_last_child
{
	background:none !important;
}

.uppercase_text{ text-transform:uppercase !important;}
.bakround_none, .bakround_none1
{
background:none !important;
padding:0 !important;
}
#grocery_list .bakround_none1
{
border:none;
}
#grocery_list .accordion
{
margin-bottom:0px !important;
border-bottom:1px solid #BEBEBE;
}
#grocery_list .accordion_inner_sub
{
background:#fff !important;
border-bottom: medium none;
border-top: medium none;
}
#grocery_list .bottom_arrow
{
background:url("images/bottom_click.png") no-repeat right center;
width:15px;
height:11px;
padding:0;
margin:0;
float:right;
}
.bordernone{ border:none !important}
.grocery_list {   
    padding: 5px;
	overflow:hidden;
	background:#F0EFEF;
}
.grocery_list ul { float:left; width:47% !important; background:#fff; margin:5px !important; padding:5px; }
ul.nopadding{ padding:0px !important}
.grocery_list ul li input { float:right;}
.grocery_list ul li { text-align:center; margin-top:-1px;  padding:1px 0 0; position:relative; overflow:hidden;}
.grocery_list ul li > span { background: none repeat scroll 0 0 #1DA4A8;
    border-bottom: 1px solid #FFFFFF;
    clear: both;
    color: #FFFFFF;
    float: left;
    padding: 4px 1px;
    width: 23%;}
.grocery_list ul li p {
	border-bottom: 1px solid #949599;
    float: left;
    line-height: 18px;
    margin: 0 2px;
    padding: 4px 0;
    width: 74%;
}
.grocery_list ul li:last-child p{
	border-bottom:none !important;
}
.grocery_list li.notes{ background:#1DA4A8; color:#fff; padding:3px 0px;}
.grocery_list li.notes_data{ min-height:100px; background-color:#fff;}
.grocery_list ul li.overstrike{
	overflow:hidden;
}
.grocery_list ul li.overstrike img{    border: 0 none;
    float: left;
    height: auto;
    max-width: 99%;
    position:absolute;
	left:0px;
    top: 14px;
    vertical-align: middle;
    width: 100%;	
	}
.grocery_list ul li .input_field {
background:url(images/checkbox.png) no-repeat left center !important;
height:14px;
width:14px;
float:right;
margin-top:3px;

}	
.grocery_list ul li .input_field:hover { 
background:url(images/checkbox-green.png) no-repeat left center !important;
}
.grocery_list_popup_lnk{ float:right;}
.add_new_btn{ 	background:url(images/add_cal.png) no-repeat 101px center #faa21b !important; float:right; margin:2px 15px 4px 0 !important; padding: 4px 31px 4px 14px !important;  }
.add_new_btn:hover
{
	background:url(images/add_cal.png) no-repeat 101px center #f29300 !important; 
}
.bgcolor3188{ background:none repeat scroll 0 0 #31889E !important;}
.bgcolor3188:hover{ background:none repeat scroll 0 0 #165666 !important; }

#grocery_list_qty_popup_data > table {
    width: 210px;
}
#grocery_list_qty_popup_data input {
    height: 29px;
    margin: 5px auto;
    padding: 4px !important;
    text-align: center;
    width: 35% !important;
}
#nutrition_food_Mear_edt_id{ width:20px;}
#nutrition_food_name_edt_id{ font-weight:bold; font-size:15px; padding:5px 0px;}
.notes_dataarea{  width:90%; margin:2px 0px;}
.update_note
{
	background: none repeat scroll 0 0 #31889E !important;
	width:70px;
	margin:5px 0px !important;
}
.update_note:hover 
{
	background: #165666 !important;
}
.addqty{ float:left; width:45px;}
.addqtr_main{float:left;margin-top:4px; margin-left:20px;}
#food_measure{ float:left; margin-left:3px; margin-top:4px;}