.fitness_progrm2 {
    background: none repeat scroll 0 0 transparent !important;
    height: auto !important;
    margin-left: 0 !important;
    margin-right: 2% !important;
}
 .fitness_progrm2_aside
{
	background: none repeat scroll 0 0 transparent !important;
    height: auto !important;
	width:20.5% !important;	
}
.azilla_nav {
    margin: 0 !important;
    overflow: hidden;
    width: 98.5%;
}

.bottom_nav_back_02
{
	margin:30px 0 0 1px;
}
.navbar .nav > li {
    border-right:1px solid #1caebb;
}
.navbar .nav > li.last_nav{
    border-right: none !important;
}
 .azilla_nav > li > a {
    color: #FFFFFF !important;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px !important;
   min-width: 69px !important;
    padding: 10px 12px !important;
    text-align: center !important;
    text-shadow: none !important;
    text-transform: uppercase;
}
.azilla_nav_fitness > li > a {
    padding: 11px 15px !important;
}
.azilla_nav_fitness > li > a:hover {
	color:#245456 !important;
}
.azilla_nav > li.item-196 a{
	background:none !important;
}
.aside_title_swap {
	background-color: #f39420;	
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px !important;
    margin: 0 0 14px !important;
    padding: 11px 10px !important;
    text-align: center;
	border-radius:10px;
}
.aside_title_swap  a{
	 color: #FFF !important;
}
.aside_title_swap  a:hover{
	color:#664118 !important;
}	
.add_exercise{
	background-color:#BFDA73 !important;
}

.add_exercise  a:hover{
	color:#5E7028 !important;
}
 .aside_title {
 	background: url("images/gradient.jpg") repeat-x scroll 0 0 #E1E1E1 !important;
    color:#1487AA !important; 
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px !important;
    margin: 0 !important;
    padding: 9px 6px !important;
    text-align: center;
    text-transform: uppercase;
	font-weight:normal;
	border-top:1px solid #CBCBCD;
	border-right:1px solid #CBCBCD;
	border-left:1px solid #CBCBCD;	
}
.titlebgimg{ 
	 background: url("images/meal_chart_bk.png") repeat-x scroll 0 0 #E1E1E1 !important;
	 color:#1487AA !important; 
}

.aside_listing {
    background: none repeat scroll 0 0 #ffffff;
    border-radius: 0 0 0 0 !important;
    margin: 0 0 25px !important;
    padding: 0 !important;
}
.aside_listing ul { border:1px solid #CBCBCD; border-top:0px; text-align:center; margin:0px; padding:0px; min-height:40px;}
.aside_listing ul li{ padding:7px 0px;  }
.progression_modification{  
    font-size: 21px !important;
    font-weight: 100;
    margin:0 0 5px 0;
    overflow: hidden;
    width: 98%;
	background: url("images/gradient.jpg") repeat-x scroll 0 0 #E1E1E1 !important; padding:10px 5px !important; color:#1487AA !important;
}
.bottom_nav_back {
    background: #fff;
    min-height: 85px;
    padding: 0 !important;
}

.meal_chart_table
{
	padding:0;
	border-bottom:1px solid #ccc;
	width:100%;
}
.borderleft_53C4CA{ border-left:1px solid #53C4CA; }
.meal_chart_table tr.borderccc{
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
}
.meal_chart_table tr th
{
	background-color:#53c4ca !important;
    color: #FFFFFF;
    font-size: 13px;
    font-weight: normal;
	padding:11px 5px;
    margin: 0;
    text-transform: uppercase;
	border-right:1px solid #1CAEBB;
	border-bottom:5px solid #000;
	width:20%;
}
.meal_chart_table tr td
{
	border-right:1px solid #BEBEBE;
	height: 44px;	
	text-align:center;
}
.borderright-none{
	border-right:none !important;
}
.border-none{
	border:none !important;
}
.azilla_video {
    margin: 0 !important;
    width: 100% !important;
}
.video_gallery {  
    margin: 0 !important;
}
.azilla_video_nav {
    background: none repeat scroll 0 0 #E1E1E1;
    float: left;
	margin:0px;
	width:50px;
}
.azilla_video_nav li {
    list-style: none outside none;
}
.azilla_video_nav li a {
    color: #ffffff !important;
    display: block;
    font-size: 24px;
    list-style: none outside none;
    padding: 41px 18px;
    text-decoration: none;
}
.marginbot0{ margin-bottom:0px !important}
.upper_space {
    overflow: hidden;
    padding-top: 32px !important;
}
.progression_modification_container{ width:90% !important; margin-bottom:0px !important;}
.progression_modification_container .carousel-control{ background:none !important; border-radius:0px !important; border:none !important; color:#2E8EA4 !important; }
.progression_modification_container .progression_modification_left{ margin-left:-26px !important;  top: 58px !important;}
.progression_modification_container .progression_modification_right { margin-right: -70px !important; top: 58px !important;}
.progression_modification_container .carousel-inner{ margin-left:25px;}
.progression_modification_container .item{ position:relative;}
#exercisevideo{ float:left; width:459px; height:304px;}
#exercisevideo iframe{width:459px; height:304px; background: url("images/video_gallery.png") no-repeat scroll 0 0 #E1E1E1 !important;}
.bgcolor_1a8bad{ background-color:#1a8bad !important;}
.bgcolor_1a8bad a:hover{ color:#0D3C49 !important;}

.bgcolor_bfda73{ background-color:#bfda73 !important;}
.bgcolor_bfda73 a:hover{ color:#0D3C49 !important;}

.bgcolor_1da4a8{ background-color:#1da4a8 !important;}
.bgcolor_1da4a8 a:hover{ color:#0D4D4F !important;}

.border_bottom_0a416a{ border-bottom:2px solid #0a416a;}
.border_bottom_0a416a_1px{ border-bottom:1px solid #0a416a;}
.bgcolor_53c4ca{ background-color:#53c4ca !important;}

/* most_popular */
.most_popular {clear: both; float: left; margin: 20px 0 0;overflow: hidden;
 padding: 0; width: 76.5%; background-color:#f3f3f5; }
.most_popular h3 {border-bottom:5px solid #000000; background:#f3f3f5;}
.most_popular .carousel-inner{ margin-left:25px; background-color:#fff; float:left }
.most_popular .most_popular_left{ margin-left:-24px !important;  top: 96px !important; }
.most_popular .most_popular_right { margin-right: -74px !important; top: 96px !important;}
.most_popular .youtube_img_container{ width:50%; float:left; }
.most_popular .youtube_img_container_inner{ margin:0 auto; width:92%;}
.most_popular .popular_videos{ float:left; width:187px;}
.most_popular .popular_videos_nav{ float:left; margin:0px; width:20px; }
.most_popular .popular_videos_nav li{ padding:14px 8px; float:left; text-align:center;}
.video_bottom_img
{
	min-height: 110px !important;
    width: 30.624% !important;
}
.popular_video_title{ text-align:left;  margin:0px; padding-bottom:4px; color:#1487AA; font-weight:normal; font-size:13px;}

 .fit_progrm1 {
    min-height: 135px !important;
}
.azilla_02_bottom {
    float: left;
    height: auto !important;
    width: 98.5% !important;
}

.myfitnessprogram_minheight{ min-height:240px !important}
.aside_listing .colone { background:#EBEBEB;}
.aside_listing .coltwo { background:#ffffff;}

