.stats-parent{
 	margin: 0 21px 21px 0px; width: 48% !important; background:url("images/header.png") repeat-x scroll center top transparent !important; min-height:78px;
}
.stats-parent-label{ font-size: 20px; color:#1487AA !important}

.datepicker_stat_container{
	width:48%;float:right;text-align:center; margin-right:-3px;
}
#datepicker_stat{ min-height:232px; width:100%;}

.stat_table {
	width:100%;
	margin:0;
}
.stat_table tr {
	border-bottom:1px solid #e4e1e0;
}
.stat_table td {
	width:50%;
	text-align:left;
	line-height:30px;
	font-size:14px;
	padding: 0 0 0 17px;
}
.my-profile {
	background:none repeat scroll 0 0 #D9D9D9;
	margin: 0 auto !important;
	overflow: hidden;
	width: 98%;
}
.my-profile li {
	float:left;
}
.my-profile li a {
	background: url("../img/azilla_02_nav_img.jpg") no-repeat scroll right top transparent;
	color: #5F5F5F !important;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	min-width: 69px;
	padding: 10px 8px;
	text-align: center;
	text-shadow: none;
	text-transform: uppercase;
}
.my-stat {
	background: url("images/meal_chart_bk.png") repeat-x scroll 0 0 #E1E1E1;
	padding: 8px 0 8px 18px;
}
.border_right {
	border-right:1px solid #e4e1e0;
}
.my-measurements { padding:5px 0 0 2px; }
.my_profile_footer {
	float: left;
	height: auto;
	margin: 20px 0 20px 0px;
	width: 100%;
}
.my_profile_footer ul {
	width:100%;
	list-style:none;
	float:left;
	margin:0;
	padding:0;
}
.my_profile_footer ul li {
	color: #5F5F5F !important;
	float: left;
	font-size: 12px;
	padding: 12px 11px;
}
.myprofile_last_none {
	border:none !important;
}
.mystat_val li { padding:0px 5px !important;}

.profile_stat2
{
	padding:0;
	margin:0;
	border:1px solid #ccc;
}
.profile_stat2 tr th
{
	background:url("images/meal_chart_bk.png") repeat-x #e1e1e1;
    color: #1487AA;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
	padding:3px 5px;
    text-transform: uppercase;
    text-shadow: 0.1em 0.1em #FFFFFF;
	border-right:1px solid #BEBEBE;
	width:11.11%;
}
.profile_stat2 tr td
{
	border-right:1px solid #BEBEBE;
	line-height: 44px;	
	text-align:center;
}
.chkmail button{ text-align:center; background:none repeat scroll 0 0 #31889E !important; margin-top:10px; padding:6px 30px; font-size:18px; border-radius:7px;}
.chkmail button:hover{ background:#165666 !important;}
.progressbar_title{
    color: #484848;
    font-size: 26px;
    font-weight: normal;
    margin: 0 !important;
	font-family:'EuropeDemi';
    padding: 10px 0;}
.mystatscontainer{ width:100%;float:left;}	
.measurementcontainer{ width:100%;float:left; margin-top:20px;}	
.progressbar{ height:24px; width:100%; border:1px solid #CACDCE;}
.progressbarbg10{ background:url("images/prograss10.png") no-repeat; }
.progressbarbg20{ background:url("images/prograss20.png") no-repeat; }
.progressbarbg30{ background:url("images/prograss30.png") no-repeat; }
.progressbarbg40{ background:url("images/prograss40.png") no-repeat; }
.progressbarbg50{ background:url("images/prograss50.png") no-repeat; }
.progressbarbg60{ background:url("images/prograss60.png") no-repeat; }
.progressbarbg70{ background:url("images/prograss70.png") no-repeat; }
.progressbarbg80{ background:url("images/prograss80.png") no-repeat; }
.progressbarbg90{ background:url("images/prograss90.png") no-repeat; }
.progressbarbg100{ background:url("images/prograss100.png") no-repeat; }



.progresspercentage{ float:right}
.bordercac{ border:1px solid #CACDCE; }
.textaligncenter{ text-align:center;}
.width64pc{ width:64% !important;}
.marginbot_30px{ margin-bottom:30px !important}