.icon-48-userlevels {
      background-image: url(../images/l_userlevels.png);
      padding-left:60px!important;
}

.icon-48-userlevel {
      background-image: url(../images/l_userlevels.png);
      padding-left:60px!important;
}

