#miles_snakes_accordion .accordion-inner .restricted_area{ float:none !important;  overflow:hidden;}
#miles_snakes_accordion .accordion-inner .payment_space{ margin-left: 0px !important; }
#miles_snakes_accordion .accordion-inner .restricted_area .payment_space{ margin-left: 20px !important; }
#miles_snakes_accordion .accordion-inner{ padding:15px !important; background-color:#fff;}
#miles_snakes_accordion .accordion-heading
{
	background:url("images/libraries_main.png") repeat-y scroll 0 0 #E1E1E1;
}

#miles_snakes_accordion .accordion-heading a.accordion-toggle{ color:#555555; font-weight:bold !important;}
#miles_snakes_accordion .accordion-heading a.accordion-toggle:hover{ color:#050303 !important;}
.all_answers_submit{ background:#31889E !important;}
.all_answers_submit:hover{ background:#165666 !important;}