#recipe_cat { margin:0px; width:100%; background-color:#2f2933; float:left;}

#recipe_cat li{ float:left; padding:10px 15px; color:#fff; text-transform:uppercase; font-size:17px;}
#recipe_cat .caret{ margin:7px 0 0 4px;  }
#recipe_cat li a , #recipe_cat li a:hover{  color:#fff !important; }

#recipe_cat li ul.dropdown-menu{ border-radius:0; box-shadow:none; min-width:142px;  margin-left:-15px; margin-top:11px; padding:0px  }
#recipe_cat li ul li{ border-bottom:1px solid #5d9b9a; width:100%; padding:0px; font-size:15px; text-transform:capitalize;}
#recipe_cat li ul.dropdown-menu a{ font-weight:normal; padding:3px 15px;}
#recipe_cat li ul li a:hover{ background-color:#5d9b9a !important; }

.noborder{ border:0px !important;}
.bgcolor1{ background:#0b426b;}
.bgcolor2{ background:#1a8bad;}
.bgcolor3{ background:#bfda73;}
.bgcolor4 , .bgcolor4 li{ background:#57c3b6;}
.bgcolor5 , .bgcolor5 li{ background:#1da4a8;}

#recipe_container .accordion-heading .accordion-toggle
{
	background:url(images/meal_bk.png) repeat-x;
    padding: 9px 16px;
	border-radius: 0 0 0 0 !important;
	border-left: 1px solid #BEBEBE;
	border-right: 1px solid #BEBEBE;
    color: #1487AA !important;
	text-transform:capitalize;
	border-top: 1px solid #BEBEBE;
}
#recipe_container .collapsed .plus_icon {
    margin: -4px 0 0 -7px;
	background:url("images/plus_img.png") no-repeat left center;
	height:22px;
	width:22px;
	padding-left:26px;	
}
 
#recipe_container .plus_icon {
	background:url("images/minus.png") no-repeat left top;
    margin: -4px 0 0 -7px;
	height:22px;
	width:22px;
	padding-left:26px;
}

#recipe_container .up_click
{ 
     float: right;
    height: 9px;
    width: 11px;
	margin:2px 2px 0 0;
	background:url("images/up_click.png") no-repeat left top;
}
#recipe_container .collapsed .up_click
{ 
	width:15px;
	height:11px;
	padding:0;
	margin:0;
	float:right;
	background:url("images/bottom_click.png") no-repeat right center;
}
#miles_snakes_accordion .accordion-inner{ border-top:0px !important; }
#miles_snakes_accordion{ margin-top:30px; float:left; width:100%;  border-bottom: 1px solid #BEBEBE;}
.bakround_none, .bakround_none1
{
background:none !important;
padding:0 !important;
}
.acc_group_marginnone{ margin:0 !important; border: none !important; border-radious:0px}
.recipedata{ padding:5px; border: 1px solid #BEBEBE;   background-color:#F0EFEF}
.maintable{ width:100%;}
.maintable select option , .maintable select optgroup { color:#555555 !important;}
.maintable select.invalid ,  .maintable textarea.invalid{ border:1px solid #9D261D; }
.maintable td{ vertical-align:top; background-color:#F0EFEF;} 
.maintable td table , .maintable td table tr td{ background-color:#fff;} 
.recipephto { background-color:#fff !important; width:120px; }
.recipetotla{ background-color:#f39420 !important; color:#fff; height:26px; vertical-align:middle !important;}
.recipeinnertable { width:100%;}
.recipeinnertable tr{ border-bottom:5px solid #fff;}
.recipeinnertable td{ text-align:center;}
.recipeinnertable2 { width:97%; margin:0 auto;}
.recipeinnertable2 td { padding:10px;  }
.recipeinnertable2 tr { border-bottom:1px solid #949599; }
.recipeinnertable3 { width:100%; background-color:#FFFFFF !important;}
.recipenotes{ background-color:#1da4a8 !important; width:100%; color:#fff; text-align:center; padding:5px 0px; }
.recipenotesdata{ height:200px; text-align:center; overflow:auto;}
.addnewmeal{ text-align:center; margin-top:10px; }
.addnewmeal button { background:#FAA21B !important; font-size:12px; padding:5px 15px;}
.addnewmeal button:hover { background:#F29300 !important;}
.noborder{ border:none !important; }
.floatleft{ float:left}
.floatright{ float:right}
.padingleft2{ padding-left:2px;}
.paddingrigh2{padding-right:2px; }
.color555{ color:#555; font-weight:bold}
.addrecipeblk{ float:left; width:100%;}
#recipebrowse { width:90% !important; margin:5px 0px; background:none repeat scroll 0 0 #31889E;}
#recipebrowse:hover{ background:none repeat scroll 0 0 #165666 !important} 
.recipeinnertable input { width:90%; text-align:center;}
.recipeinnertable2 input { width:90%;}
.recipeinnertable3 textarea{ width:90%; height:90%;}
.recipedata input { margin-bottom:0px !important; }
.mealnamecontainer{ background-color:#fff; padding:5px; margin:5px 0px; color:#555555;}
.mealname{ margin-left:20px;}
.additional_nutrients{ background:#1DA4A8 !important; padding:5px 6px !important;}
.additional_nutrients:hover{ background:#148587 !important; }
.recipe_type{ width:198px;}
.recipe_heading{ background:url("images/meal_bk.png") repeat-x scroll 0 0 transparent; color:#1487AA !important; text-align:center; padding:7px 0px; margin:0px; font-weight:normal; }
.ingredents_div{   text-align:center; background-color:#fff; margin-top:10px;}
.ingredents_divright{ margin-top:10px; background-color:#fff;  margin-top:10px; }
#recipe_container .toggle-editor { display:none !important}
.imagehide{ display:none}