.diet_chart h3, .meal_description_heading, .meal_description_title,  .nutrition_bott_taskbar li, 
.repeated_process ul li a, .meal_description_heading, .btn btn-success food_item, .food_item, .food_creation .modify_button, 
.reset_button, .modify_button, .todays_menu li a, .nutrition_home .yield_target {font-family: Arial,Helvetica,sans-serif; /* 'EuropeDemi';*/ }

a, ul { outline:none !important;}

.nutrition_home .diet_chart h3
{ 
    background:url(images/diet_chart_heading.png) repeat-x;
    color: #1E87A7;
    font-family: 'EuropeDemi';
    font-size: 13px;
    font-weight: normal;
    margin: 0;
    padding: 7px 0 8px 12px;
    text-align: left;
    text-transform: uppercase;	
}
.nutrition_home .collapsed .plus_icon {
    margin: -4px 0 0 -7px;
	background:url("images/plus_img.png") no-repeat left center;
	height:22px;
	width:22px;
	padding-left:26px;	
}
 
.nutrition_home .plus_icon {
	background:url("images/minus.png") no-repeat left top;
    margin: -4px 0 0 -7px;
	height:22px;
	width:22px;
	padding-left:26px;
}
.nutrition_home .diet_chart
{
	min-height:217px !important	;
	border:1px solid #D2D2D2;
	max-width:328px;
}
.nutrition_home .diet_chart a
{
	 float:right;
    margin:0 16px 0 0;
	 cursor: pointer;
}
.nutrition_home .diet_chart a:hover
{
	color:#1F1F1F !important;
}

.nutrition_home .diet_chart h1, .diet_chart_inner h1
{
	background: none repeat scroll 0 0 #F3F3F3;
    color: #B5B5B6;
    font-family: EuropeDemi;
    font-size: 23px;
    font-weight: bold;
    margin: 5px 7px 10px;
    padding: 7px 0;
	text-transform: uppercase;
	text-align:center;
}
.nutrition_home .text-uppercase
{
	text-transform:capitalize;
	padding:10px 0 7px !important;
}
.nutrition_home .nutrition_background 
{
	background:#41c1c3 !important;
	color:#fff !important;
	padding:10px 0 !important;
}
.nutrition_home .carbs-img
{
	background:#2C7575;
	height:16px;
	width:16px;
	float:left;
	margin:0 7px 0 0;
}
.nutrition_home .nutrition_diet_list
{
	border-bottom: 1px solid #E0E0E0;
    float: left;
    margin: 0 0 0 11px;
    overflow: hidden;
    padding: 8px 0;
    width: 95%;
}
.nutrition_home .fat_color
{
	background:#53C2B5;
}
.nutrition_home .protin_color
{
	background:#BFDA71;
}

.nutrition_home .nutrition_diet_list li 
{
	 color: #5B5A5A;
    float: left;
    padding: 0 15px 0 0;
}
.nutrition_home .nutrition_width
{
	margin:0;
	text-align:left;
	width:85px;
}
.paddingright0 { padding-right:0px !important}
.nutrition_home .nutrition_left
{
	padding:0;
	margin:0;
	float:left;
	width:185px;
}
.nutrition_home .nutrition_border_none
{
	border:none !important;
}
.nutrition_home .nutrition_wheel
{
	padding:0;
	margin:0;
	width:126px;
	height:117px;
	float:right;
}
.nutrition_home .meal_chart_table
{
	padding:0;
	margin:0;
	border:1px solid #c3c3c4;
	border-top:none;
}
.borderbotbebe{border-bottom: 1px solid #BEBEBE;}
.nutrition_home .meal_chart_table tr th
{
	background:none repeat scroll 0 0 #53C2B5 !important;
    color: #176D8A;
    font-size: 11px;
    font-weight: normal;
	height:30px;
    margin: 0;
    padding:2px 5px 3px;
    text-transform: uppercase;
	text-shadow: 0.1em 0.1em #ccc;
/*	border-right:1px solid #348e83; */
	width:16%;
}
.nutrition_home .meal_chart_table tr th a
{
	color:#5E5D5D !important;
}
.nutrition_home .meal_chart_table tr td
{
	border-right:1px solid #e0e0e0;
	height:170px !important;
	text-align:center;
}
.nutrition_home .last_misc
{
	padding:0 20px 0 10px !important;
}
.nutrition_home .acc_group_marginnone
{
	margin:0 !important;
}
.nutrition_home .accordion-heading .accordion-toggle, .accordion-inner
{
	background:url(images/meal_bk.png) repeat-x;
    padding: 9px 16px;
	border-radius: 0 0 0 0 !important;
/*	border-left: 1px solid #BEBEBE;
	border-right: 1px solid #BEBEBE;
	border-top: 1px solid #BEBEBE;*/
    color: #1487AA !important;
	text-transform:capitalize;
}
#meal_snacks_tbl , #meal_snacks_tbl tr , #meal_snacks_tbl tr td { border:1px solid #BEBEBE; }
.nutrition_home .yield_target
{
	background:url("images/meal_chart_bk.png") repeat-x scroll 0 0 #E1E1E1;
    padding: 9px 16px;
	border-radius: 0 0 0 0 !important;
	border-left: 1px solid #BEBEBE;
	border-right: 1px solid #BEBEBE;
	border-top: 1px solid #BEBEBE;
    color: #1487AA !important;
	text-transform:capitalize;
	margin:0;
	text-align:left;
	font-weight:normal;
	font-size:17px;	
}
#my_nutrition_taskbar , #premade_snacks_meals {
	margin-bottom:20px !important;
}
#target_calorie .yield_target a , #actual_calorie .yield_target a  , #my_nutrition_taskbar .yield_target a , #premade_snacks_meals .yield_target a
{
	float:right;
	background:url(images/minu_sign.png) no-repeat;
	width:27px;
	height:21px;
}
#target_calorie .yield_target a.collapsed , #actual_calorie .yield_target a.collapsed ,  #my_nutrition_taskbar .yield_target a.collapsed ,  #premade_snacks_meals .yield_target a.collapsed {
	background:url(images/plus_sign.png) no-repeat;
}


.meal_sign
{
	float:right;
	background:url(images/minu_sign_small.png) no-repeat;
	width:15px;
	height:13px;
	margin-top:6px;
}
.meal_sign.collapsed
{
	background:url(images/plus_sign_small.png) no-repeat;
}
.nutrition_home .meal_chart_table tr.meal_add  td{ height:20px !important; border-top:1px solid #E0E0E0 !important;}

.nutrition_home .food_item_add
{
   background: none repeat scroll 0 0 #FAA21B !important;
    border-radius: 3px;
    box-shadow: none !important;
    text-align:center;
    font-size: 13px;
    font-weight: normal;
    margin: 5px 0 !important;
    padding: 2px 12px !important;
    text-transform: capitalize;
	cursor:pointer;
}
.nutrition_home .food_item_add:hover{
   background:none repeat scroll 0 0 #F29300 !important
}
.nutrition_home .meal_pop_lnk{ }
.bordernone{ border:none !important}
.nutrition_home .accordion-group
{
	border:0px !important;
}
/*
.nutrition_home .acc_top_border a
{
	border-top:1px solid #BEBEBE;
}
*/
.nutrition_home .meal_description_heading, .meal_description_title
{
	background: url(images/breakdown.png) repeat-x #2A92A9;
    color: #FFFFFF;
    font-size: 15px;
    margin: 0;
    padding:5px 0 4px 13px;
    text-transform: uppercase;
}
.nutrition_home .meal_description_title
{
	background: none repeat scroll 0 0 #2F2933;
    line-height:40px;
    padding: 0;
	margin-top:5px;
	margin-left:5px;
}

.nutrition_home .bs-docs-tooltip-examples {
    list-style: none outside none;
    margin:0;
    text-align: center;
	float:left;
}
.floatrigth{ float:right !important}
.nutrition_home .bs-docs-tooltip-examples li {
    list-style: none outside none;
    margin: 0;
    text-align: center;
	float:left;
	line-height:20px;
	background:#2F2933;
}
.nutrition_home .bs-docs-tooltip-examples li a, .carbs_fats, .carbs_pro
{
	color: #FFFFFF;
    display: block;
    font-size: 12px;
    padding:5px 0px;
	font-weight:bold;
	cursor:default;
}
.nutrition_home  .carbs_pro{ padding-left:2px;}
.nutrition_home .bs-docs-tooltip-examples li a:hover
{
	color:#FFFFFF;
}

.nutrition_home .carbs_fats
{
	background:#53c2b5 !important;
}
.nutrition_home .carbs_meals
{
	background:#01787d;
}
.nutrition_home .carbs_pro
{
	background:#bfda71;
}

.nutrition_home .cals_pro
{
	background:#2F2933;
}

.nutrition_home .meal1_description
{
	margin: 0; padding: 7px 0 0 6px; width: 99.0%; background:none repeat scroll 0 0 #F0EFEF; 
}
.nutrition_home .meal1_description img
{
	float:left;
	margin:0 5px 0 0;
}
.nutrition_home .meal1_description table
{
	background: none repeat scroll 0 0 #FFFFFF;
    height: 176px;
    padding: 0;
    width: 100%;
}


.nutrition_home .meal1_description table td
{
	color:#646160;
	text-align:center;
}

.nutrition_home .meal1_description_last td
{
	color:#32CD32 !important;
	text-transform:uppercase;
}
.nutrition_home .food_item
{
	background: none repeat scroll 0 0 #31889E;
    box-shadow: none !important;
    float: left;
    font-weight: normal;
    text-transform: capitalize;
	padding:4px 11px 4px 10px !important;
	margin:0 5px !important;
	border-radius: 6px 6px 6px 6px;
	font-size:13px;
}
.nutrition_home .food_item:hover , .nutrition_home .save-this-meal:hover 
{
	background:#165666 !important;
	
}
.nutrition_home .bottom_icon
{
	background: url("images/bottom_icon.png") no-repeat scroll center center transparent;
    border: medium none !important;
    float: right;
    height: 20px;
    text-decoration: none;
    width: 20px;
	padding:0 0 0 15px;	
}
.nutrition_home .acc_top_border p
{
	margin: 0;
    overflow: hidden;
    padding:20px 1px 10px 0;
    width: 99%;
}
.nutrition_home .modify_button
{
	background: none repeat scroll 0 0 #31889E;
    box-shadow: none !important;
    float: left;
    margin: 0 8px 0 20px;
    padding: 4px 1px 4px 2px;
    text-transform: capitalize;
    width: 97px;
    border-radius: 6px 6px 6px 6px;
	font-size:13px;
}
.nutrition_home .modify_button:hover
{
	background: #165666 !important;
}
.nutrition_home .meal_completed
{
	background: none repeat scroll 0 0 #FAA21B;
    box-shadow: none !important;
    float: left;
    padding: 4px 4px 4px 4px;
    text-transform: capitalize;
    border-radius: 6px 6px 6px 6px;
	font-size:13px;
	width:125px;
	margin-right:8px;
}
.nutrition_home .meal_completed:hover
{
	background: #F29300 !important;
}
.nutrition_home .reset_button
{
	background:#faa21b !important;
	 margin: 0 8px 0 0;
	 padding: 4px 1px 4px 2px;
    text-transform: capitalize;
    width: 91px;
	 border-radius: 6px 6px 6px 6px;
	
}
.nutrition_home .bottom_icon_orange
{
	background: url("images/bottom_icon_orange.png") no-repeat scroll center center transparent;
    border: medium none !important;
    float: right;
    height: 20px;
    padding: 0 0 0 15px;
    text-decoration: none;
    width: 20px;
}
.nutrition_home .minus_img
{
	margin:-1px 3px 0 -8px;
	background:url("images/minus.png") no-repeat left top;
	width:23px;
	height:18px;
	padding-left: 26px;
}
.nutrition_home .up_click
{ 
     float: right;
    height: 9px;
    width: 11px;
	margin:2px 2px 0 0;
	background:url("images/up_click.png") no-repeat left top;
}
.nutrition_home .collapsed .up_click
{ 
width:15px;
height:11px;
padding:0;
margin:0;
float:right;
	background:url("images/bottom_click.png") no-repeat right center;
}

.nutrition_home .bottom_cl
{
	margin:0;
}
.nutrition_home .bottom_click, .bottom_cl
{
	float:right !important;
	width:15px !important;
	height:11px !important;
}
.nutrition_home .todays_menu li a
{
    font-size: 12px !important;
    padding:10px;
}
.nutrition_home .todays_menu li a:hover
{
	color:#fff;
	
}
.nutrition_home .today_menu_right_border
{
	background:url("images/today_menu_right_border.png") repeat-y  right 0;
	
}
.nutrition_home .nutri_line_height
{
	line-height:40px;
}
.nutrition_home .nutrition_bott_taskbar
{
	 background: none repeat scroll 0 0 #2C879D;
    margin: 0;
    overflow: hidden;
    padding: 10px 7px 10px 15px;
    width: 96.8%;
}
.nutrition_home .nutrition_bott_taskbar li a
{
	color: #FFFFFF;
    float: left;
    font-size: 12px;
    font-weight: normal;
    list-style: none outside none;
    padding: 0 16px 0 10px;
    text-transform: capitalize;
}
.nutrition_home .food_creation
{
	border: 1px solid #BEBEBE;
    margin:0 0 10px;
    overflow: hidden;
    padding: 12px 9px 15px 14px;
}
.food_creation p
{
     margin: 0 auto;
    overflow: hidden;
    padding: 0;
    width: 73%;
}
.nutrition_home .reset_button:hover
{
	background:#f29300 !important;
}
.nutrition_home .food_creation button
{
	font-size: 13px;
    font-weight: normal;
	display:block;
	float:none !important;
    margin: auto !important;
    text-align: center;
}
.nutrition_home .food_creation .modify_button
{
	font-size: 13px;
    font-weight: normal;
    width: 136px !important;
}
.nutrition_home .food_creation .reset_button
{
float:left;
width:140px !important;
font-size: 13px !important;
font-weight: normal;

}
.nutrition_home .repeated_process
{
	background:url("images/repeat_process.png") repeat-x;
    border: 1px solid #BB7029;
    color: #FFFFFF;
    padding:0;
    text-shadow: none;
    text-transform: capitalize;
	width:99.8%;
	margin:15px 0 0;
	overflow:hidden;	
}
.nutrition_home .repeated_process ul
{
	margin: 0;
    overflow: hidden;
    padding:0;
}
.nutrition_home .repeated_process ul li
{
	float:left;	
	background:url(images/back_list_rtborder.png) no-repeat right center;
}
.nutrition_home .repeated_process ul li a
{
	color: #FFFFFF;
    font-size: 12px;
	padding:8px 43px !important;
	display:block;
}

.nutrition_home .repeated_process ul li span:hover
{
	background: url("images/on_hover.jpg") no-repeat scroll center bottom transparent !important;
    display: block;
}
.nutrition_home .repeated_process ul li span a:hover
{
 color: #FFFFFF !important;
}

.nutrition_home .back_process
{
	background:url(images/repeat_process_back.png) no-repeat 28px center;
}
.nutrition_home .back_a_week
{
	background:url(images/back_a_week.png) no-repeat 23px center;
	padding:0 25px !important;
}
.nutrition_home .repeat_process_next_week
{
	background:url(images/repeat_process_next_week.png) no-repeat 104px center;
	padding:0 25px !important;
}
.nutrition_home .repeat_process_next
{
	background:url(images/repeat_process_next.png) no-repeat 88px center;
	padding:0 25px !important;
}
.nutrition_home .repeat_last_child
{
	background:none !important;
}
.nutrition_home .all_archieves
{
	padding:0;
	margin:0 auto;
	width:415px;
}
.nutrition_home .all_archieves .save_archieve
{
 	font-size: 14px;
    margin: 10px 7px 0 16px !important;
    padding:6px 1px 5px 10px !important;
}
.nutrition_home .yield_production
{
	color:#464545 !important;
	text-shadow: 0.1em 0.1em #D9D9D9;
}
.yield_production:hover
{
	color:#000 !important;
}
.nutrition_home .yield_production_child
{
	background:none repeat scroll 0 0 #2C7575 !important;
	color:#fff !important;
}
.nutrition_home .diet_chart_home
{
	
    max-width: 328px;
  /*  min-height: 217px !important; */
	margin-bottom:0px;
}
.nutrition_home .diet_chart_inner
{
	 border: 1px solid #BEBEBE;
	 border-top:0px !important;
	 width:99.4% !important;
}

.nutrition_home .diet_chart_inner:hover
{
	overflow:hidden !important;
}
.nutrition_home .alternative
{
	font-size: 14px;
    margin: 10px 7px 0 36px !important;
    padding: 6px 1px 5px 10px !important;
}
.nutrition_home .meal1_diet_chart
{
	
   background: none repeat scroll 0 0 #FFFFFF;
   overflow: hidden;
    width: 73%;
}
.nutrition_home .meal1_diet_chart .mCSB_scrollTools
{
	right:5px !important;
}
.nutrition_home .nutrition_chart
{
   float:left;
   width: 26.5%;
}
.nutrition_home .save-this-meal{
    background: none repeat scroll 0 0 #31889E;
    border-radius: 6px 6px 6px 6px;
    box-shadow: none !important;
    float: left;
    font-size: 13px;
    font-weight: normal;
    margin: 22px 0 0 14px !important;
	padding:7px 18px 5px 18px; !important;
}
.nutrition_home .extra_cal
{
	background:#43c1c3 !important;
	color:#fff !important;
}
.nutrition_home .grid_bottom_level
{
	margin-bottom:15px;
}
.uppercase_text{ text-transform:uppercase !important;}
.bakround_none, .bakround_none1
{
background:none !important;
padding:0 !important;
}
.nutrition_home .bakround_none1
{
border:none;
}
.nutrition_home .accordion
{
margin-bottom:0px !important;
}
.nutrition_home .accordion_inner_sub
{
background:#fff !important;
border-bottom: medium none;
border-top: medium none;
}
.nutrition_home .bottom_arrow
{
background:url("images/bottom_click.png") no-repeat right center;
width:15px;
height:11px;
padding:0;
margin:0;
float:right;
}

.nutrition_home .meal1_diet_chart > p {
    padding-bottom: 3px;
	float:left
}
.meal_pic
{
position:relative;
left:-13px;
}
.bordernone{ border:none !important}
.breakdown_list span
{
list-style:none;
float:left;
text-align:center;
margin:0;
}
.breakdown_list p
{
overflow:hidden;
float:left;
border:none !important;
padding:8px 0px;
}
span.quentity_end
{
padding-left:60px;
}
.calpad{ padding-right:10px;}
.nutrition_home .description{ width:135px; padding-left:2px !important; text-align: left;}
.nutrition_home .description a{ color:#1487AA !important }
.nutrition_home .description a:hover{ color:#196375 !important }
.nutrition_home .quentity{ width:80px}
.nutrition_home .carbs{ width:60px}
.nutrition_home .fats{ width:62px}
.nutrition_home .pro{ width:62px}
.nutrition_home .cals{ width:57px}
.color99D720{ background:#99D720; color:#00566C; padding:4px 0;}
.marginleft5{ margin-left:5px !important;}
.contentscroll {
	overflow:auto;
	background:#000;
}
.meal_lists {
	height:170px;
}
.breakdown_list {
	min-height:176px
}

.breakdown_list pw {
	float:left;
	display:block
}
.contentscroll {
	color:#333;
	background:#fff;
}
.mCSB_container p {
	margin:4px 3px;
	border-bottom:1px solid #E0E0E0;
}
/*.mCSB_container p span{ font-size:12px; }*/
.mCSB_container p.colone { background:#EBEBEB;}
.mCSB_container p.coltwo { background:#ffffff;}
.margintp0{ margin-top:0px !important;}
.meal1_diet_chart input { /*height:21px !important; */ text-align:center; }
.width120 { width:120px; margin:0px !important; padding:0px !important; }
.width60 { width:60px; margin:0px !important; padding:0px !important;}
.width40 { width:40px; margin:0px !important; padding:0px !important;}
.popuptbleitemname{ text-align:right; padding-right:10px; }
.width100px { width:100px; height:28px !important; }
.width50px { width:50px; height:28px !important; }
.mealmodify_pop_lnk { padding:0px; margin:0px; display:inline !important;}
.popuptble{ text-align:center; width:330px}
.popuptble input{ margin:0px !important;}
.popupitems{ float:right; }
.popuptblebtn{ width:100%; text-align:center; margin-top:7px; }
.popuptblebtn button{ text-align:center; float:none !important;}
.paddingbot5{ padding-bottom:5px;}
.trspace{float:left;width:10px; height:3px;}
.borderccc{ border:1px solid #ccc; padding-top:5px;}
.borderccc td{ padding:5px 0px;} 
.marginTop10{ margin-top:10px;}
.bgcolor3188{ background:none repeat scroll 0 0 #31889E !important;}
.bgcolor3188:hover{ background:none repeat scroll 0 0 #165666 !important; }
.bgcolorFAA21B{ background:none repeat scroll 0 0 #FAA21B !important;}
.bgcolorFAA21B:hover{ background:none repeat scroll 0 0 #F29300 !important; }
.bgcolor43C1C3{ background:none repeat scroll 0 0 #43C1C3 !important;}
.bgcolor43C1C3:hover{ background:none repeat scroll 0 0 #379999 !important; }
.bgcolorBFDA71{ background:none repeat scroll 0 0 #F39420 !important;}
.bgcolorBFDA71:hover{ background:none repeat scroll 0 0 #B26A18 !important; }
.bgcolorBFDA71_org{ background:none repeat scroll 0 0 #BFDA71 !important;}
.bgcolorBFDA71_org:hover{ background:none repeat scroll 0 0 #94AA50 !important; }
#meal_popup_add_taskbar_data{ min-width:250px; height:120px; overflow:auto;}
#meal_popup_add_taskbar_data table{ width:100%; text-align:center}
.width30pcnt{ width:30%;}
.width70pcnt{ width:70%;}
.poptblalignright{ text-align:right; padding-right:10px;}
.textalignleft{ text-align:left}
.nutrition_home .ui-state-highlight{ padding:0px !important; 	border: 1px solid #5B592F/*{borderColorHover}*/;
	background: #EDEAB1 !important;
	color: #212121/*{fcHover}*/;}
.nutrition_home	.ui-state-hover, .nutrition_home .ui-state-focus{
	border: 1px solid #5B592F!important;
	background: #EDEAB1 !important;
	color: #212121/*{fcHover}*/;
	width:466px;
	margin-left:5px;
}
	
.nutrition_home .draggable {  }
.nutrition_home .droppable { float: left;}
.nutrition_home .meal_chart_table tr th a:hover{ color:#111111 !important; }

/*premade-snake-listing collapse*/
.nutrition_home #premade_snacks_meals_inner{ border: 1px solid #BEBEBE;	 border-top:0px !important;	 width:99.7% !important;	 float:left;	 border-bottom:1px solid #BEBEBE;	 margin-bottom:15px; }
.nutrition_home #premade_snacks_meals_inner:hover{	overflow:hidden !important;}
.premade_snacks_meals_inner { background:url(images/back-top.png) repeat-x left top !important;}
.premade_snacks_meals_data{ width:100% !important; margin-bottom:0px !important;  }
.premade_snacks_meals_data .carousel-control{ background:none !important; border-radius:0px !important; border:none !important; color:#2E8EA4 !important; }
.premade_snacks_meals_data .most_popular_left{ margin-left:-25px !important;  z-index:110; }
.premade_snacks_meals_data .most_popular_right { margin-right: -80px !important; z-index:110;}

.premade_snacks_meals_data .carousel-inner{ overflow:visible; float: left; width:88%; position:relative; z-index:10;}
.premade_snacks_meals_data .item{ position:relative;}

.premade_snacks_meals_data .carousel-inner-ul { float: left; margin:0; width: 100%; margin:0 0 0 8px; border-bottom:none !important;}
.premade_snacks_meals_data .carousel-inner-ul li{  float:left; list-style:none; padding:0;}
.premade_snacks_meals_data .carousel-inner-ul li a {  padding:12px 30px 0; display:block; cursor:pointer; height:40px; color:#5E5D5D !important; text-shadow:0.1em 0.1em #CCCCCC;}

.premade_snacks_meals_data .carousel-inner-ul li.active a , .premade_snacks_meals_data .carousel-inner-ul li a:hover {   background-color:#2089a9 !important; color:#fff !important;  text-shadow:none; }
.premade_snacks_meals_data .carousel-inner-ul{ }

#premade_snacksCarousel .carousel-control {float: left; margin: 0 !important; position: relative;top: 0; width: 5%;}
#premade_snacksCarousel { margin:0; 	 background:url(images/back-top.png) repeat-x left top;	 overflow:hidden !important;}
#premade_snacksCarousel .most_popular_left {  left:0; background:url(images/left_arrow.png) no-repeat center center !important; text-indent:-99999px; opacity:1.0;}
#premade_snacksCarousel .most_popular_right {  right:0; background:url(images/right_arrow.png) no-repeat center center !important; text-indent:-99999px; 
float:right; opacity:1.0; }
.meal_description_heading{ clear:both; margin-top:10px !important;}
.premade_snacks_meals_data .premade-snake-listing { background:#ffff;}
.premade_snacks_meals_data .premade-snake-listing p { display:block; overflow:hidden; padding:5px 10px;}
.premade_snacks_meals_data .premade-snake-listing p .pre_made_meal_title { float:left; line-height:21px; cursor:move; z-index:99999 !important;}
.premade_snacks_meals_data .premade-snake-listing p .premade_details{  background:none repeat scroll 0 0 #FAA21B !important; padding:1px 30px; float:right; margin:0 25px 0 0; }
.premade_snacks_meals_data .premade-snake-listing p .premade_details:hover{ background:none repeat scroll 0 0 #F29300 !important}
#meal_snacks_ullist{ height:250px; }
#meal_snacks_ullist .mCSB_scrollTools{ right:7px;}
#meal_snacks_ullist .mCSB_container p{ margin:0px; border-bottom:none;}

/* Detail popup box */
.premade_snacks_meals_data .grey  ,  #pre_made_snacks_data .meal_popup_tbl tr.grey { background:#f3f3f3;}
.premade_snacks_meals_data .premade-snake-listing { background:#fff; float:left; width:100%;}
#pre_made_snacks_data .meal_popup_tbl th { background-color:#53C2B5; text-align:center; color:#5E5D5D !important; text-shadow:0.04em 0.07em #CCCCCC; font-weight:normal; }
#pre_made_snacks_data .meal_popup_tbl td{ text-align:center}

.confirm_yes{ margin-right:30px; background:#FAA21B !important;}
.confirm_yes:hover{ background:#F29300 !important }
.never_show_again{ background:#FAA21B !important;}
.never_show_again:hover{ background:#F29300 !important }
.confirm_no{ background:#31889E !important;}
.confirm_no:hover{background:#165666 !important;}
.color1487AA{ color:#1487AA}
#never_show_again_checkbox{ margin-right:7px; margin-bottom:4px;}
.width240{ width:240px;}
.floatright{ float:right;}
.cursorpointer{ cursor:pointer}
.marginleft0{ margin-left:0px !important}
.meal_chart_table .ui-draggable{ cursor:pointer;}
.nutrition_note{ background:#c0d973 !important; border-radius:0px !important; padding:4px 20px !important; }
.nutrition_note:hover{ background:#93b330 !important; }
.pddinglft10{ padding-left:10px;}
.padleft5{ padding-left:5px !important;}