#library_container {
   width:100%;float:left;
   font-weight:bold;  
   border:1px solid #ccc; 
}
#library_container a{
	color:#555;
}
#library_container .library_main
{
	background:url("images/libraries_main.png") repeat-y scroll 0 0 #E1E1E1;
}
#library_container .librarie_subcat
{
	background:url("images/librarie_subcat.png") repeat-y scroll 0 0 #E1E1E1;
	padding-left:20px;
}
#library_container .library_main a:hover{ color:#000 !important; }
#library_container .librarie_subcat a:hover{ color:#934908 !important; }
#library_container .exercise_names a:hover{ color:#015659 !important; }
#library_container .accordion-heading{
	border-bottom:1px solid #ddd;
}
#library_container .accordion-group:last-child .accordion-heading{
	border-bottom:none;
}
#library_container .accordion{
	margin-bottom:0px;
}
#library_container .accordion-group{
	border:0px;
	margin-bottom:0px;
}
#library_container .accordion-inner
{
	padding:0px;
}
#library_container .exercise_names{
	background:url("images/librarie_exercise.png") repeat-y scroll 0 0 #E1E1E1;
	padding:9px 55px;
}
#search_nutrition{ float:left;} 
#search_nutrition_btn{ margin:0 0 0 4px; float:left; background:none repeat scroll 0 0 #31889E; }
#search_nutrition_btn:hover{ background:none repeat scroll 0 0 #165666 !important;}