.icon-48-membershiptypes {
      background-image: url(../images/l_membershiptypes.png);
      padding-left:60px!important;
}

.icon-48-membershiptype {
      background-image: url(../images/l_membershiptypes.png);
      padding-left:60px!important;
}

