.icon-48-questionnaires {
      background-image: url(../images/l_questionnaires.png);
      padding-left:60px!important;
}

.icon-48-question {
      background-image: url(../images/l_questionnaires.png);
      padding-left:60px!important;
}

